@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
.watchlist-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
  margin-bottom: 20px;
}

.movie-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.movie-card h4 {
  font-size: 14px;
  margin: 10px 0 5px;
  color: #333;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-card .rating {
  font-size: 14px;
  color: #e6b800;
  margin-bottom: 5px;
  font-weight: bold;
}

.movie-card .date {
  font-size: 12px;
  color: #999;
  margin-bottom: 10px;
}

.empty-message {
  font-size: 1.5rem;
  margin-top: 20px;
  color: #53bba6;
  text-align: center;
}

.go-home-button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #1abc9c;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.3s ease;
}

.go-home-button:hover {
  background-color: #bfeae0;
}


@media (max-width: 600px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
  .movie-card img {
    height: 200px;
  }
}
.icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icons i {
  font-size: 18px;
  cursor: pointer;
  color: #1abc9c;
}

/* .icons i:hover { */
/*   color: #1abc9c; */
/* } */
/**/

